
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

body {
  background-color: rgba(1, 11, 20, 0.007);
  width: 100vw;
}

.row-content {
  margin: 0px auto;
  padding: 30px 0px 50px 0px;
}


.full {
  min-height: 100vh;
}

.Option {
  cursor: pointer;
}

.loading {
  min-height: 100vh;
}

.modal{
  transform: translate(0, 5vh) !important;
}